/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.fullWidth  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.method {
    width: 10em;
}

.foreground {
    z-index: 10;
}

@media only screen and (min-width: 64.063em) { 
    .response {
        padding-left: 1.5em !important; 
    }
}

.over {
    word-break: break-all;
}

textarea {
    height: auto;
    font-size: 0.8em;
    min-height: 110px;
    font-family: Consolas,Menlo,'Meslo',courier, monospace;
}

.condense {
    margin: 0 !important;
}

button, .button {
    margin: 0;
}

.input-inline > input[type="text"] {
    background-color: transparent;
    font-size: 1em;
    height: 1.5rem;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    border: 0;
    margin: 0 !important;
    padding-bottom: 0;
    padding-top: 0;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.input-inline > input[type="text"]:focus {
    background-color: #EEE;    
}

table tr td {
    padding: 0.2625rem 0.325rem;
    font-size: 0.775rem;
    color: #222222;
}

h4 {
    font-size: 0.75rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

pre {
    font-size: 0.8em;
    font-family: Consolas,Menlo,'Meslo',courier, monospace, serif;
}

.clickable  {
    margin: 0;
    padding: 0;
    border: 0;
}

.clickable tr:hover, .clickable tr:nth-of-type(even):hover {
    cursor: pointer;
    background-color: #EEE;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.server {
    font-size: 0.7rem;
    color: #666;    
}

.reveal-modal {
    visibility: visible;
    display: block;
}

.history {
    margin-bottom: 1em;
    max-height: 25em;
    border: solid 1px #dddddd;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

button.icon, .button.icon {
    font-size: 1.3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

button.icon.postfix, .button.icon.postfix {
    font-size: 1.3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

button.icon.tiny, .button.icon.tiny {
    padding-top: 0.525rem;
    padding-right: 1.15rem;
    padding-bottom: 0.5875rem;
    padding-left: 1.15rem;
    font-size: 1rem;
    margin-left: 0.04em;
}

/* Override and remove the bootstrap style, as ember breaks it */
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: inherit;
}

/* Instead, use nth-of-type selector to effectively ignore the script tags */
.table-striped>tbody>tr:nth-of-type(odd)>td, .table-striped>tbody>tr:nth-of-type(odd)>th {
    background-color: #F9F9F9;
}